<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="sidebar">
<aside class="sidebar">
    <nav class="sidebar-nav">
        <a href="/veterinaria/dashboard" class="nav-link" th:classappend="${currentPage == 'dashboard' ? ' active' : ''}">
            <i class="fas fa-home"></i>
        </a>
        <a href="/veterinaria/diagnostico-ia" class="nav-link" th:classappend="${currentPage == 'diagnostico' ? ' active' : ''}">
            <i class="fas fa-heartbeat"></i>
        </a>
        <a href="/veterinaria/pacientes" class="nav-link" th:classappend="${currentPage == 'pacientes' ? ' active' : ''}">
            <i class="fas fa-user-friends"></i>
        </a>
        <a href="/veterinaria/agenda" class="nav-link" th:classappend="${currentPage == 'agenda' ? ' active' : ''}">
            <i class="fas fa-calendar-alt"></i>
        </a>
    </nav>
    <div style="flex-grow: 1"></div>
    <div class="sidebar-user">
        <a href="/veterinaria/settings" class="nav-link"><i class="fas fa-cog"></i></a>
    </div>
</aside>
</html>